<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhenghui.zhqb.zhenghuiqianbaomember">

    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNA0L_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_hmb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 设置高德地图的AppKey -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c1edc0ef4de21ce230daf7292134b8f5" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付回调界面 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 支付宝支付界面 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 需要添加下面的intent-filter配置 -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- <category android:name="android.intent.category.BROWSABLE"/> -->
            <!-- <data android:scheme="leiqian"> -->


            <!-- </data> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MyBaseActivity" />
        <activity android:name=".activity.ModifyPhoneActivity" />
        <activity android:name=".activity.ModifyPasswordActivity" />
        <activity android:name=".activity.ModifyAliasActivity" />
        <!-- <activity -->
        <!-- android:name=".Activity.DuoBaoListActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:windowSoftInputMode="adjustUnspecified|stateHidden" /> -->
        <activity android:name=".activity.GoodDetailsActivity" />
        <activity android:name=".activity.ShoppingCartActivity" />
        <!-- <activity android:name=".Activity.PersonalActivity" /> -->
        <activity android:name=".activity.CommitOrderActivity" />
        <activity android:name=".activity.AddressSelectActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity android:name=".activity.ShopPayActivity" />
        <activity android:name=".activity.OrderListActivity" />
        <activity android:name=".activity.OrderDetailsActivity" />
        <activity android:name=".activity.BankCardActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity
            android:name=".activity.AuthenticateActivity"
            android:launchMode="singleTask">

            <!-- 需要添加下面的intent-filter配置 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="certi.back"
                    android:scheme="zhqb" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WalletActivity" />
        <activity android:name=".activity.DiscountActivity" />
        <activity android:name=".activity.ShopListActivity" />
        <activity android:name=".activity.ShopDetailsActivity" />
        <activity android:name=".activity.TreeActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.MyShopActivity" />
        <activity android:name=".activity.MyShopDetailsActivity" />
        <activity android:name=".activity.BankCardListActivity" />
        <activity android:name=".activity.BindBankCardActivity" />
        <activity android:name=".activity.SystemMessageActivity" />
        <activity android:name=".activity.WithdrawalsActivity" />
        <activity android:name=".activity.TransFenRunActivity" />
        <activity android:name=".activity.DiscountDetailActivity" />
        <activity android:name=".activity.DiscountStoreActivity" />
        <activity android:name=".activity.BillActivity" />
        <activity android:name=".activity.TreePayActivity" />
        <activity android:name=".activity.ShakeListActivity" />
        <activity android:name=".activity.ShakeDetailActivity" />
        <activity android:name=".activity.ShakeResultActivity" />
        <activity android:name=".activity.GoodPayActivity" />
        <activity android:name=".activity.RichTextActivity" />
        <activity
            android:name=".activity.CityPickerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.MyDuoBaoNumActivity"
            android:label="@string/title_activity_my_duo_bao_num" />
        <activity
            android:name=".activity.GoodSearchActivity"
            android:label="@string/title_activity_good_search" />
        <activity android:name=".activity.ModifyTradeActivity" />

        <receiver android:name=".receiver.LogoutReceiver">
            <intent-filter>
                <action android:name="com.zhenghui.zhqb.zhenghuiqianbaomember.receiver.LogoutReceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.JewelActivity" />
        <activity android:name=".activity.JewelRecordActivity" />
        <activity android:name=".activity.JewelHistoryActivity" />
        <activity android:name=".activity.GiveActivity" />
        <activity android:name=".activity.JewelPayActivity" />
        <activity android:name=".activity.MyJewelHistoryActivity" />
        <activity android:name=".activity.TreeBillActivity" />
        <activity android:name=".activity.GiveHistoryActivity" />
        <activity android:name=".activity.EarningsActivity" />
        <activity android:name=".activity.RightsActivity" />
        <activity android:name=".activity.TargetActivity" />
        <activity android:name=".activity.MapRouteOverlayActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.RightsListActivity" />

        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.JewelRecordService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.UpdateService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zhenghui.zhqb.zhenghuiqianbaomember2.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.TransferActivity"></activity>
        <activity android:name=".activity.RelationActivity"></activity>
        <activity android:name=".activity.ReferrerActivity"></activity>
        <activity android:name=".activity.BillHistoryActivity"></activity>
        <activity android:name=".activity.RightsHistoryActivity"></activity>
        <activity android:name=".activity.GiftPayActivity"></activity>
        <activity android:name=".activity.GiftBuyActivity"></activity>
        <activity android:name=".activity.ShopGoodActivity"></activity>
        <activity android:name=".activity.RelationStoreActivity"></activity>
        <activity android:name=".activity.SubsidyActivity"></activity>
    </application>

</manifest>